body {font-family: Arial;
    background-color: #000;
    color: white;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #000;
    background-color: #000;
    text-align: center;
    color: #ccc;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #000;
    color:grey;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color:black;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:#000;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
img{
    padding: 10;
    border-radius: 50%
}

p{
    font-family: 'Times New Roman', Times, serif;
}
ul{

    font-size: 14;
    font-family: 'Times New Roman', Times, serif;
}
#Mood{
    font-size: 16px;
    font-family: ;
    transition-duration: 0.4s;
    width: 35%;
    height: 50px;
    float: center;
}
#Mood:hover{
    background-color: grey ;
    color: #2f302f;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(248, 246, 246, 0.19);
}
#Genre{
    font-size: 16px;
    transition-duration: 0.4s;
    width: 35%;
    height: 50px;
}
#Genre:hover{
    background-color: grey ; 
    color: #2f302f;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(248, 246, 246, 0.19);
}
